{{#vendorExtensions.x-annotation-deprecated}}, notes = "Deprecated: {{{vendorExtensions.x-annotation-deprecated}}}"{{/vendorExtensions.x-annotation-deprecated}}{{^vendorExtensions.x-annotation-deprecated}}{{#notes}}, notes = "{{{notes}}}"{{/notes}}{{/vendorExtensions.x-annotation-deprecated}}