{{#vendorExtensions.x-annotation-deprecated}}, notes = "Deprecated: {{{vendorExtensions.x-annotation-deprecated}}}"{{/vendorExtensions.x-annotation-deprecated}}{{^vendorExtensions.x-annotation-deprecated}}{{#unescapedNotes}}, notes = "{{#vendorExtensions.x-annotation-beta}}<b>(BETA)</b> {{/vendorExtensions.x-annotation-beta}}{{{unescapedNotes}}}"{{/unescapedNotes}}{{/vendorExtensions.x-annotation-deprecated}}