package {{supportPackage}};

public class PageRequest {
    protected final String orderBy;
    protected final Order order;
    protected final Long offset;
    protected final Long limit;

    /**
     * Constructor.
     *
     * @param orderBy comma-seperated list of fields to order results by.
     * @param order sort order (see {@link Order}). Defaults to {@link Order#ASC} if not specified.
     * @param offset page offset. Defaults to 0 if not specified.
     * @param limit page limit. Defaults to 10 if not specified.
     */
    public PageRequest(String orderBy, Order order, Long offset, Long limit) {
        this.orderBy = orderBy;
        this.order = (order == null) ? Order.ASC : order;
        this.offset = (offset == null) ? 0 : offset;
        this.limit = (limit == null) ? 10 : limit;
    }

    /**
     * Constructor. Constructs page request with specified sort fields and sort order, and an offset of 0 and limit of 10.
     *
     * @param orderBy comma-seperated list of fields to order results by.
     * @param order sort order (see {@link Order}). Defaults to {@link Order#ASC} if not specified.
     */
    public PageRequest(String orderBy, Order order) {
        this(orderBy, order, null, null);
    }

    /**
     * Constructor. Constructs page request with specified sort fields, ascending sort order, offset of 0 and limit of 10.
     *
     * @param orderBy comma-seperated list of fields to order results by.
     */
    public PageRequest(String orderBy) {
        this(orderBy, null, null, null);
    }

    public String getOrderBy() {
        return orderBy;
    }

    public Order getOrder() {
        return order;
    }

    public Long getOffset() {
        return offset;
    }

    public Long getLimit() {
        return limit;
    }

    public boolean isAscendingOrder() {
        return Order.ASC == order;
    }
}
