.circleci
.gradle
.idea
database
gradle*
history
lib
elite2-api
elite2-api-codegen
node_modules
Restlet Tests
scripts
.codacy*
.gitignore
build.gradle
docker*
*.iml
README*
syscon*
yarn*
settings*
elite2-api-impl/history
elite2-api-impl/src
elite2-api-impl/target
elite2-api-impl/build/classes
elite2-api-impl/build/jacoco
elite2-api-impl/build/reports
elite2-api-impl/build/resources
elite2-api-impl/build/test-results
elite2-api-impl/build/tmp
elite2-api-impl/build/lib/*.original
elite2-api-impl/build.gradle
elite2-api-impl/codacy*