.circleci
.git-crypt
.gradle
.idea
database
gradle*
history
lib
mobile-api
mobile-api-codegen
node_modules
Restlet Tests
scripts
.codacy*
.gitignore
build.gradle
docker*
*.iml
README*
syscon*
yarn*
settings*
mobile-web/history
mobile-web/src
mobile-web/target
mobile-web/build/classes
mobile-web/build/jacoco
mobile-web/build/reports
mobile-web/build/resources
mobile-web/build/test-results
mobile-web/build/tmp
mobile-web/build/lib/*.original
mobile-web/build.gradle
mobile-web/codacy*