.circleci
.gradle
.idea
gradle*
history
lib
node_modules
Restlet Tests
scripts
.codacy*
.gitignore
build.gradle
docker*
*.iml
README*
syscon*
yarn*
settings*
elite2-api/history
elite2-api/src
elite2-api/target
elite2-api/build/classes
elite2-api/build/jacoco
elite2-api/build/reports
elite2-api/build/resources
elite2-api/build/test-results
elite2-api/build/tmp
elite2-api/build/lib/*.original
elite2-api/build.gradle
elite2-api/codacy*