.gradle
.idea/*
build
out
target
.idea/workspace.iml
nomis-db.*
dps-gradle-spring-boot-suppressions.xml
.DS_Store
.editorconfig
helm_deploy/*/Chart.lock
helm_deploy/*/charts/
sonar-project.properties
