version: '3.1'
services:
  oauth-server:
    image: quay.io/hmpps/nomis-oauth2-server:latest
    container_name: oauth-server
    ports:
      - "9090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev

  elite2-api:
    image: quay.io/hmpps/elite2-api:latest
    container_name: elite2-api
    depends_on:
      - oauth-server
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=nomis-hsqldb

  keyworker-api:
    image: quay.io/hmpps/keyworker-api:latest
    depends_on:
      - elite2-api
      - oauth-server
    container_name: keyworker-api
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - ELITE2_URI_ROOT=http://elite2-api:8080
      - AUTH_URI_ROOT=http://oauth-server:8080/auth
      - security.require-ssl=false
      - SPRING_PROFILES_ACTIVE=noqueue,local
