spring:

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.Oracle10gDialect

  datasource:
    hikari:
      maximum-pool-size: 10
      connectionTimeout: 1000
      validationTimeout:  500

  replica:
    datasource:
      hikari:
        maximum-pool-size: 10
        connectionTimeout: 1000
        validationTimeout:  500
