server:
  port: 8080
  forward-headers-strategy: native
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
  shutdown: graceful

spring:
  application:
    name: prison-api

  config:
    use-legacy-processing: true

  jpa:
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          fetch_size: 100

  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

logging:
  level:
    org.springframework.security: INFO

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'info, health, ping'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: always
      probes:
        enabled: true
    info:
      cache:
        time-to-live: 2000ms

api:
  base:
    path: /api

smoke:
  test:
    aware: false