<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m | %mdc %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

    <springProperty scope="context" name="appName" source="info.app.name"/>
    <springProperty scope="context" name="appVersion" source="info.app.version"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <springProfile name="!logstash">
        <appender name="logAppender" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${LOG_PATTERN}</Pattern>
            </layout>
        </appender>
    </springProfile>

    <springProfile name="logstash">
        <appender name="logAppender" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender"/>
    </springProfile>

    <logger name="net.syscon" additivity="false" level="DEBUG">
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="net.syscon.elite.repository.mapping" additivity="false" level="INFO">
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="net.syscon.elite.repository.v1.storedprocs" additivity="false" level="INFO">
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="org.springframework" additivity="false" level="INFO" >
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="springfox.documentation.spring" additivity="false" level="INFO" >
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="org.glassfish.jersey" additivity="false" level="INFO" >
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="com.microsoft.applicationinsights" additivity="false" level="INFO" >
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="com.zaxxer.hikari" additivity="false" level="INFO" >
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="org.apache.catalina" additivity="false" level="INFO" >
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.flywaydb" additivity="false" level="INFO" >
        <appender-ref ref="logAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="logAppender"/>
    </root>

    <springProfile name="ai">
        <root level="INFO">
            <appender-ref ref="logAppender"/>
        </root>
    </springProfile>
</configuration>
