<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m | %mdc %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

    <springProperty scope="context" name="app" source="spring.application.name"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <logger name="uk.gov.justice.hmpps.prison.PrisonApiServer" additivity="false" level="DEBUG">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="uk.gov.justice.hmpps" additivity="false" level="DEBUG">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="uk.gov.justice.hmpps.prison.repository.mapping" additivity="false" level="INFO">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="uk.gov.justice.hmpps.prison.repository.v1.storedprocs" additivity="false" level="INFO">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.springframework" additivity="false" level="INFO" >
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="springfox.documentation.spring" additivity="false" level="INFO" >
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.glassfish.jersey" additivity="false" level="INFO" >
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="com.microsoft.applicationinsights" additivity="false" level="INFO" >
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="com.zaxxer.hikari" additivity="false" level="INFO" >
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.apache.catalina" additivity="false" level="INFO">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.flywaydb" additivity="false" level="INFO" >
        <appender-ref ref="consoleAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>

    <springProfile name="ai">
        <root level="INFO">
            <appender-ref ref="consoleAppender"/>
        </root>
    </springProfile>
</configuration>
