#%RAML 0.8
title: Elite2 Public API
baseUri: http://api.elite2.syscon.net/{version}
version: v1
schemas:
- httpStatus: !include schemas/output/http-status.schema.json

- userDetails: !include schemas/output/user-details.schema.json
- authLogin: !include schemas/input/auth-login.schema.json
- authToken: !include schemas/input/auth-token.schema.json
- token: !include schemas/output/token.schema.json
- agency: !include schemas/output/agency.schema.json
- agencies: !include schemas/output/agencies.schema.json
- inmateSummary: !include schemas/output/inmate-summary.schema.json
- inmateSummaries: !include schemas/output/inmate-summaries.schema.json
- inmateDetails: !include schemas/output/inmate-details.schema.json
- movement: !include schemas/output/movement.schema.json
- movements: !include schemas/output/movements.schema.json
- location: !include schemas/output/location.schema.json
- locations: !include schemas/output/locations.schema.json
- imageSummary: !include schemas/output/image-summary.schema.json
- imageSummaries: !include schemas/output/image-summaries.schema.json
- imageDetails: !include schemas/output/image-details.schema.json
- imageData: !include schemas/output/image-data.schema.json
- locationCountDetails: !include schemas/output/location-count-details.schema.json
- locationCount: !include schemas/output/location-count.schema.json
- automatedCount: !include schemas/output/automated-count.schema.json
- casenote: !include schemas/output/casenote.schema.json
- casenotes: !include schemas/output/casenotes.schema.json
- referencecode: !include schemas/output/referencecode.schema.json
- referencecodes: !include schemas/output/referencecodes.schema.json
- alert: !include schemas/output/alert.schema.json
- alerts: !include schemas/output/alerts.schema.json

securitySchemes:
- jwt:
    describedBy:
      queryParameters:
         token:
           description: Provided Token
           type: string
           example: eyJpc3MiOiJzY290Y2guaW8iLCJleHAiOjEzMDA4MTkzODAsIm5hbWUiOiJDaHJpcyBTZXZpbGxlamEiLCJhZG1pbiI6dHJ1ZX0
    type: x-jwt

resourceTypes: !include resourceTypes/generic-resource-types.raml

traits: !include traits/generic-traits.raml

/users: !include resources/users.raml
/agencies: !include resources/agencies.raml
/booking: !include resources/booking.raml
/locations: !include resources/locations.raml
/images: !include resources/images.raml
/counts: !include resources/counts.raml
/referencecodes: !include resources/referencecodes.raml
