#%RAML 1.0
title: New API
version: v1
baseUri: http://api.samplehost.com
mediaType: application/json

traits: !include traits/traits.raml
types: !include resourceTypes/datatypes.raml

/agencies:
  description: The collection of agencies in the system.
  get:
    is: [pageable]
    description: Returns the list of agencies viewable by the user
    responses:
      200:
        body:
          type: agency[]

/locations:
  description: The collection of internal locations within an agency.
  get:
    description: Returns a list of locations for the specified agency.
    is: [
          searchable: {description : "", example : ""},
          orderable: {fieldsList : ""},
          pageable
        ]
    responses:
      200:
        body:
          type: location[]

/locations/{locationId}:
  description: Returns details about the specified location
  get:
    description: Returns details of the specified location.
    responses:
      200:
        body:
          type: location
      404:
        description: Returned if the location id is not valid or the user does not have authorization to view it.

/locations/{locationId}/movements:
  description: The collection of scheduled movements associated to the location.
  get:
    description: Returns the scheduled movements associated to the location.
    is: [
          searchable: {description : "", example : ""},
          orderable: {fieldsList : ""},
          pageable
        ]
    responses:
      200:
        body:
          type: movement[]
      404:
        description: Returned if the location id is not valid or the user does not have authorization to view the data.

/locations/{locationId}/inmates:
  description: The collection of inmates present at the specified location.
  get:
    description: Returns the inmates currently located at the location.
    is: [
          searchable: {description : "", example : ""},
          orderable: {fieldsList : ""},
          pageable
        ]
    responses:
      200:
        body: inmateSummary[]
      404:
        description: Returned if the location id is not valid or the user does not have authorization to view the data.

/locations/{locationId}/livingUnits:
  description: The collection of living units (assignable beds) at the specified location. This method is only valid for living unit locations.
  get:
    description: Returns the living units associated to the location.
    is: [
          searchable: {description : "", example : ""},
          orderable: {fieldsList : ""},
          pageable
        ]
    responses:
      200:
        body: livingUnit[]
      404:
        description: Returned if the location is not a living unit or the user does not have authorization to view the data.

/inmates:
  description: The collection of inmates within the system.
  get:
    description: Returns the within the system.
    is: [
          searchable: {description : "", example : ""},
          orderable: {fieldsList : ""},
          pageable
        ]
    responses:
      200:
        body: inmateSummary[]

/inmates/{inmateId}:
  description: The details specific to the specified inmate.
  get:
    description: Returns the inmate's details.
    responses:
      200:
        body: inmateDetail[]
      404:
        description: Returned if the inmateId is not valid or the user does not have authorization to view the data.

/inmates/{inmateId}/movements:
  description: The collection of scheduled movements associated to the inmate.
  get:
    description: Returns the scheduled movements associated to the inmate.
    is: [
          searchable: {description : "", example : ""},
          orderable: {fieldsList : ""},
          pageable
        ]
    responses:
      200:
        body:
          type: movement[]
      404:
        description: Returned if the inmateId is not valid or the user does not have authorization to view the data.
