"Content-Type", {{#vendorExtensions.x-annotation-mediaType}}"{{vendorExtensions.x-annotation-mediaType}}"{{/vendorExtensions.x-annotation-mediaType}}{{^vendorExtensions.x-annotation-mediaType}}MediaType.APPLICATION_JSON{{/vendorExtensions.x-annotation-mediaType}}